.test{
    border: 1px solid black;
}
.app .app-header{
    font-size: 20px;
}
.app .component-header{
    font-size: 18px;
    font-weight: bold;
}
.app .navigation ul{
    list-style: none;
    /* border: 2px solid black; */
    text-align: center;
}
.app .navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
}
.app .navigation li{
    display: inline-block;
    margin: 20px;
    /* border: 2px solid black; */
}
.app .navigation a{
    text-decoration: none;
    color : black;
}
.app .navigation a:hover{
    color: aqua;
}

.login-form, .register-form{
    width:600px;
    margin : 20px auto;
    /* border: 1px solid black; */
}
.light-font-weight{
    font-weight: 300;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-500{
    font-weight: 500;
}
.font-size-15{
    font-size: 15px;
}